.input_style{
  font-size: 1.1rem;
  width: 60%;
  padding: .5rem;
  border:none;
  border-bottom: 1.3px black solid;
  background-color: rgb(226, 219, 219);
  display: block;
  margin: 0 auto;
}

.input_style_textArea{
  font-size: 1.5rem;
  font-family: inherit;
  width: 60%;
  padding: .5rem;
  border:none;
  border-bottom: 1.3px black solid;
  background-color: rgb(226, 219, 219);
  display: block;
  margin: 0 auto;
}

.input_button{
  width: 30%;
  margin: 1rem auto;
  font-size: 1.5rem;
  background-color: rgb(255, 117, 25);
  color:rgb(255, 255, 255);
  padding: 1rem 2rem;
  border-radius: 12px;
  border: none;
  text-align: center;
  cursor: pointer; 
}

.input_button:hover{
  background-color: rgb(172, 69, 0);
  box-shadow: 5px 5px 5px 1px rgb(36, 15, 1);
}

.center_buttons{
  text-align: center; 
  margin-top: 4.5rem;
}