* {
  box-sizing: border-box;
}

*:focus{
  border:2px black solid;
  outline: none;
}

body, html {
  /* height: 100%; */
  /* overflow: hidden; */
  margin: 0;
  color: rgb(34, 32, 32);
  font-family: 'Raleway';
}

ul{
  padding-left: 0;
  list-style: none;
}

/* NAV BAR */
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(3, 7, 17);
  padding: .8rem;
  z-index: 1;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 3rem);
}

.main-nav__item{
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.6rem;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a{
  text-decoration: none;
  color: rgb(216, 216, 216);
  padding: 0.2rem 0;
}

.main-nav__item a:hover, .main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a{
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
}

.main-nav__item--cta a:hover, .main-nav__item--cta a:active{
  color: #ff1b68;
  background: white;
  border: none;
}
/* NAV BAR */

/* --- */
.container{
  margin : 10vh 10vw;
}

.title{
  margin: 3%;
  font-size: 3rem;
  text-align: center;
}

.subtitle{
  font-size: 2.3rem;
  font-weight: inherit;
  text-align: center;
  margin-bottom: 3rem;
}

.no-decoration{
  text-decoration: none;
  color: black;
}

.bold{
  color:black;
  font-weight: bold;
}

.btn-grey, .btn-grey-special {
  padding: 1rem 2rem;
  background-color: gray;
  color: white;
  font-size: 1.3rem;
  margin: 0 3rem;
  border-radius: 15px;
  cursor: pointer;
  width: 20%;
  border: none;
}

.btn-grey:hover{
  background-color: rgb(70, 70, 70); 
  color: white;
}

.btn-grey-special{
  background-color: rgb(255, 117, 25);
}

.btn-grey-special:hover{
  background-color: rgb(172, 69, 0);
}

.input_style, .input_style_user{
  font-size: 1.1rem;
  width: 60%;
  padding: .5rem;
  border:none;
  /* border-bottom: 1.3px black solid; */
  border-radius: 7px;
  background-color: rgb(220, 209, 209);
  display: block;
  margin: 0 auto;
}

.input_style:hover{
  background-color: rgb(242, 233, 233);
}

.input_style_user{
  width: 30%;
}

.input_style_user:hover{
  background-color: rgb(242, 233, 233);
}

.input_style_textArea{
  font-size: 1.5rem;
  font-family: inherit;
  width: 60%;
  padding: .5rem;
  border:none;
  border-radius: 7px;
  border-bottom: 1.3px black solid;
  background-color: rgb(220, 209, 209);

  display: block;
  margin: 0 auto;
}

.input_style_textArea:hover{
  background-color: rgb(242, 233, 233);
}

.center_buttons{
  text-align: center; 
  margin-top: 4.5rem;
}

.input_button{
  width: 21%;
  margin: 1rem auto;
  font-size: 1.3rem;
  background-color: rgb(255, 117, 25);
  color:rgb(255, 255, 255);
  padding: 1rem 2rem;
  border-radius: 12px;
  border: none;
  text-align: center;
  cursor: pointer; 
}

.input_button:hover{
  background-color: rgb(172, 69, 0);
}
