* {
  box-sizing: border-box;
}

body, html {
  /* height: 100%; */
  /* overflow: hidden; */
  margin: 0;
  color: rgb(34, 32, 32);
  font-family: 'Raleway';
}

ul{
  padding-left: 0;
  list-style: none;
}

/* NAV BAR */
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(3, 7, 17);
  padding: .8rem;
  z-index: 1;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 3rem);
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.6rem;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a{
  text-decoration: none;
  color: rgb(216, 216, 216);
  padding: 0.2rem 0;
}

.main-nav__item a:hover, .main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a{
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
}

.main-nav__item--cta a:hover, .main-nav__item--cta a:active{
  color: #ff1b68;
  background: white;
  border: none;
}
/* NAV BAR */

/* --- */
.container{
  margin : 10vh 10vw;
}

.title{
  margin: 3%;
  font-size: 3rem;
  text-align: center;
}

.no-decoration{
  text-decoration: none;
  color: black;
}

.btn-grey {
  padding: 20px 30px;
  background-color: gray;
  color: white;
  font-size: 1.5rem;
}